.main {
	font-family: "Poppins", sans-serif;
	margin-top: 5rem;
}

.user-details-container {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 0 2rem;
}

.user-alias-img-container > img {
	width: 5rem;
	height: 5rem;
}

.user-secret {
	padding: 2rem;
	line-height: 2;
	/* border-bottom: 1px solid rgba(122, 122, 122, 0.3); */
}

.post-comments {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 0;
}

.write-comment-container {
	margin-top: 3rem;
}

/* styling the comments section  */
.comments-container {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
