.sign-in-page,
.google-sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
}

.sign-in-page {
	min-height: 80vh;
}

.sign-in-btn-container {
	padding: 3rem 6rem;
	/* box-shadow: 4px 4px 15px rgba(122, 122, 122, 0.3); */
	border: 1px solid rgba(122, 122, 122, 0.5);
}

.google-sign-in {
	gap: 1rem;
	padding: 0.85rem;
	background: #2b3a55;
	border-radius: 0.5rem;
}

.google-sign-in-container {
	padding: 2rem 1rem;
	color: white;
}

.google-logo {
	font-size: 1.25rem;
}

.sign-in-link {
	color: white !important;
}

@media only screen and (max-width: 600px) {
	.sign-in-btn-container {
		padding: 3rem 3rem;
		width: 100%;
	}

	.sign-in-header,
	.google-sign-in {
		font-size: 0.85rem;
	}

	.sign-in-header {
		text-align: center;
	}

	.google-sign-in {
		gap: 0.85rem;
	}

	.google-logo {
		font-size: 1rem;
	}
}
