.loader {
	border: 16px solid none; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 70px;
	height: 70px;
	animation: spin 1s linear infinite;
	position: absolute;
	left: 48%;
	top: 45%;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 600px) {
	.loader {
		top: 43%;
		left: 47%;
		border-top: 3px solid #3498db;
		width: 50px;
		height: 50px;
	}
}
