* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

html {
	padding: 0 20rem;
}

.link {
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	html {
		padding: 0 1rem;
	}
}
